.messageContainer {
  margin: 0 9rem;
  width: 86rem;
  height: 48rem;
  background-color: #f0efef;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transform: translate(0rem, 1rem);
  -webkit-transform: translate(0rem, 1rem);
  -moz-transform: translate(0rem, 1rem);
  -ms-transform: translate(0rem, 1rem);
  -o-transform: translate(0rem, 1rem);
  position: absolute;
  top: 5rem;
  left: 0;
}

.chatContainer {
  width: 100%;
  height: 100%;
}

.usersContainer {
  width: 25%;
  height: 95%;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.userInputHeader {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.tools {
  width: 100%;
  height: 10%;
  display: grid;
  place-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  border-bottom: 0.01rem solid #f0efef;
}

.Search {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.faTool {
  font-size: 2rem;
  display: flex;
  margin-right: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #c7c9cc;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.faTool:hover {
  color: #f0efef;
  background-color: #fd8f00;
}

.userList {
  width: 100%;
  height: 77.49%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
}

.chatArea {
  color: black;
  text-decoration: none;
  margin-left: 0.5rem;
}

.chatArea:hover {
  color: black;
  text-decoration: none;
  background-color: #f0efef;
}

.userList::-webkit-scrollbar {
  width: 0.6rem;
  height: 1rem !important;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.userList::-webkit-scrollbar-track {
  background: transparent;
}

.userList::-webkit-scrollbar-thumb {
  background: #aaa8a8;
}

.userList::-webkit-scrollbar-thumb:hover {
  background: #d6d5d5;
}

.user {
  display: flex;
  border-bottom: 0.01rem solid #f0efef;
}

.nameLast {
  width: 100%;
  height: 10%;
  margin-left: 0.5rem;
}
.chatUserImg {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border: 0.4rem solid #f0efef;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0.5rem;
}

.userName {
  font-weight: 700;
  color: #000 !important;
}

.tool {
  font-size: 1.2rem;
  color: #c7c9cc;
  margin-right: 0.5rem;
}
.tol {
  font-size: 1.2rem;
  color: #777777;
  margin-right: 0.5rem;
}

.seen {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-4rem, -0.9rem);
  -webkit-transform: translate(-4rem, -0.9rem);
  -moz-transform: translate(-4rem, -0.9rem);
  -ms-transform: translate(-4rem, -0.9rem);
  -o-transform: translate(-4rem, -0.9rem);
}

.chatEnvironment {
  margin: 1% 25%;
  width: 70%;
  height: 95%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.chatHeader {
  width: 100%;
  height: 11%;
  background-color: #ffffff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom: 0.01rem solid #f0efef;
}

.chatBody {
  width: 100%;
  height: 80%;
  background-color: #ffffff;
  border-bottom: 0.01rem solid #f0efef;
}

.chatFooter {
  width: 100%;
  height: 10%;
  background-color: #fd8f00;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
