/* .dashBoard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0 0 3rem;
  background-color: #ffffff;
  -webkit-border-radius: 3rem 0 0 3rem;
  -moz-border-radius: 3rem 0 0 3rem;
  -ms-border-radius: 3rem 0 0 3rem;
  -o-border-radius: 3rem 0 0 3rem;
} */

.main {
  margin: 0rem 0 5rem 20rem;
  width: 69rem;
  height: 48rem;
  background-color: #f0efef;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transform: translate(0rem, 1rem);
  -webkit-transform: translate(0rem, 1rem);
  -moz-transform: translate(0rem, 1rem);
  -ms-transform: translate(0rem, 1rem);
  -o-transform: translate(0rem, 1rem);
  position: absolute;
  top: 5rem;
}

.subMain {
  width: 100%;
  height: 13em;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.icon {
  color: #c7c9cc;
}

.headerOne > p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #9d9d9e;
}

.contentAndNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  column-gap: 0;
}

.subNavbar {
  margin-top: 4.4rem;
  display: flex;
}

.links {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.workSpace {
  width: 100%;
  height: 31rem;
}

.setLocation {
  width: 52rem;
  height: 25rem;
  background-color: #ffffff;
  margin: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0 0 0.2rem 0.01rem rgb(207, 206, 206);
}

#chart {
  width: 50rem;
  height: 20rem;
  padding: 1.3rem;
}
