/* .dashBoard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0 0 3rem;
  background-color: #ffffff;
  -webkit-border-radius: 3rem 0 0 3rem;
  -moz-border-radius: 3rem 0 0 3rem;
  -ms-border-radius: 3rem 0 0 3rem;
  -o-border-radius: 3rem 0 0 3rem;
} */

.main {
  margin: 0rem 0 5rem 20rem;
  width: 69rem;
  height: 48rem;
  background-color: #f0efef;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transform: translate(0rem, 1rem);
  -webkit-transform: translate(0rem, 1rem);
  -moz-transform: translate(0rem, 1rem);
  -ms-transform: translate(0rem, 1rem);
  -o-transform: translate(0rem, 1rem);
}

.subMain {
  width: 100%;
  height: 100;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.input {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0rem rgb(245, 228, 228);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  margin: 1rem 1rem 0 0;
}

.searchInput {
  outline: none;
  border: none;
  padding: 1rem;
  color: #c7c9cc;
  background-color: transparent;
}

.icon {
  color: #c7c9cc;
}

.imgProfile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: contain;
  border: 0.2rem solid #fff;
  margin: 1rem 1rem 0 0;
}

.headerOne > p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #9d9d9e;
}

.contentAndNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.subNavbar {
  margin-top: 4.4rem;
  display: flex;
}

.links {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
