.homeContainer {
  margin: auto;
  width: 100%;
  height: 92.2vh;
  display: flex;
  justify-content: center;
  gap: 20rem;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 1rem;
}

.homeContainer::-webkit-scrollbar {
  width: 0.6rem;
  height: 1rem !important;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.homeContainer::-webkit-scrollbar-track {
  background: transparent;
}

.homeContainer::-webkit-scrollbar-thumb {
  background: #aaa8a8;
}

.homeContainer::-webkit-scrollbar-thumb:hover {
  background: #d6d5d5;
}

.h1Header {
  padding: 2rem;
  margin-left: 5rem;
}

.h1Header > h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.headerPara {
  width: 25em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btnJoin {
  background-color: #ff6004;
  color: #ffffff;
  border: none;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
}

.color {
  color: #ff6004;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.homeImg {
  margin-right: 10rem;
}

.imgHome {
  width: 35rem;
  height: 35rem;
}
