.homeContainer {
  margin: auto;
  width: 87rem;
  height: 42rem;
  background-color: #f0efef;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transform: translate(0rem, 1rem);
  -webkit-transform: translate(0rem, 1rem);
  -moz-transform: translate(0rem, 1rem);
  -ms-transform: translate(0rem, 1rem);
  -o-transform: translate(0rem, 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
}

.homeContainer::-webkit-scrollbar {
  width: 0.6rem;
  height: 1rem !important;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.homeContainer::-webkit-scrollbar-track {
  background: transparent;
}

.homeContainer::-webkit-scrollbar-thumb {
  background: #aaa8a8;
}

.homeContainer::-webkit-scrollbar-thumb:hover {
  background: #d6d5d5;
}

.h1Header {
  padding: 2rem;
  margin-left: 5rem;
}

.h1Header > h1 {
  font-size: 4rem;
}

.headerPara {
  width: 25em;
  font-weight: 600;
}

.btnJoin {
  background-color: #ff6004;
  color: #ffffff;
  border: none;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
}

.color {
  color: #ff6004;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.homeImg {
  margin-right: 10rem;
}

.imgHome {
  width: 35rem;
  height: 35rem;
}
