.searchUsersContainer {
  margin: 0rem 0 5rem 20rem;
  width: 69rem;
  height: 48rem;
  background-color: #e03131;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transform: translate(0rem, 1rem);
  -webkit-transform: translate(0rem, 1rem);
  -moz-transform: translate(0rem, 1rem);
  -ms-transform: translate(0rem, 1rem);
  -o-transform: translate(0rem, 1rem);
  position: absolute;
  top: 5rem;
}

.components {
  display: flex;
  justify-content: center;
}

.usersInformation {
  width: 65rem;
  height: 40rem;
  background-color: #ffffff;
  margin: 1rem 1rem 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: scroll;
  overflow-x: hidden;
}

.usersProImg {
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.2rem solid #f0efef;
}

.title {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  border-bottom: 0.2rem solid #f0efef;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.titleList {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.userTitle {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}
.userTitleList {
  list-style: none;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.usersInformation::-webkit-scrollbar {
  width: 0.6rem;
  height: 1rem !important;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.usersInformation::-webkit-scrollbar-track {
  background: transparent;
}

.usersInformation::-webkit-scrollbar-thumb {
  background: #aaa8a8;
}

.usersInformation::-webkit-scrollbar-thumb:hover {
  background: #d6d5d5;
}
