.list {
  list-style-type: none;
}

.l {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.imageProfile {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.2rem solid #f0efef;
}

.underLine {
  border-bottom: 0.01rem solid #f0efef;
}

.faIcons {
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.2rem solid #f0efef;
}

.lab {
  color: #ff5e00;
}

.users {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 0.5rem;
}

table {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-collapse: collapse;
}

.mainTableHeader {
  border-bottom: 0.2rem solid #f0efef;
}

.tableHeader {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
}

td,
th {
  text-align: center;
  padding: 8px;
}
