form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 0;
  background-color: #ffffff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  background-color: #f0efef;
  padding: 1rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.formBox:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  background-color: #f0efef;
  padding: 1rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  box-shadow: 0 0 1rem 0.002rem rgb(182, 180, 180);
}

.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  margin: 1rem 0;
  width: 25rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}

textarea::placeholder {
  color: rgb(17, 17, 17);
  opacity: 0.6; /* Firefox */
}

.flname,
.email {
  font-size: 1.1rem;
  outline: none;
  border: none;
  padding: 1rem;
  width: 15rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.submit {
  background-color: rgb(37, 35, 35);
  color: #fff;
  text-align: center;
  width: 6rem;
  height: 2rem;
  border: none;
}
