.sideBar {
  width: 20rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0 0 3rem;
  background-color: transparent;
  -webkit-border-radius: 3rem 0 0 3rem;
  -moz-border-radius: 3rem 0 0 3rem;
  -ms-border-radius: 3rem 0 0 3rem;
  -o-border-radius: 3rem 0 0 3rem;
  position: fixed;
  left: 7rem;
  top: 5rem;
}

.sideList {
  display: flex;
  flex-direction: column;
}
.logoContainer {
  display: flex;
}

.logo {
  margin: 0 0 0.3rem 0.3rem;
  padding: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: linear-gradient(270deg, #ff9400, #e9c186);
  background-size: 400% 400%;
  -webkit-animation: logo 3s ease infinite;
  -moz-animation: logo 3s ease infinite;
  -o-animation: logo 3s ease infinite;
  animation: logo 3s ease infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@-webkit-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
  padding: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: #c7c9cc;
}

.link:hover {
  margin: 0.3rem 0;
  padding: 1rem;
  background-color: #f7efc2;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  color: #000000;
}

.icons {
  font-size: 2rem;
  display: flex;
  margin-right: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #c7c9cc;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.icons:hover {
  color: #f0a13b;
  background-color: #ffffff;
}

.logContainer {
  margin: 1.5rem 3rem 0 0;
}
