.sideBar {
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0 0 3rem;
  background-color: wheat;
  -webkit-border-radius: 3rem 0 0 3rem;
  -moz-border-radius: 3rem 0 0 3rem;
  -ms-border-radius: 3rem 0 0 3rem;
  -o-border-radius: 3rem 0 0 3rem;
}

.sideList {
  display: flex;
  flex-direction: column;
}
